body{
    background-color: bisque;
    color: coral;
    font-size:60px ;
}
div{
    background-color: rgb(82, 87, 97);
    width:70%;
    margin: 0 auto;
    text-align: center;
}
.box1{
    background-color: rgb(185, 126, 241);
}
#box1{
    background-color: rgb(82, 82, 189);
}
.box2{
    background-color: chartreuse;
    width: 60%; height: 300px;
}
.box3{
    background-color: green;
    width: 40%; height: 300px;
}
.boxB{
    display: flex;
}